div.tabs ul.captions {
    padding: 0;
}

div.tabs ul.captions li {
    list-style-type: none;
    display: inline-block;
    padding: 10px;
    margin: 0;
    border: 1px solid black;
    border-radius: 3px;
}

div.tabs li:hover {
    cursor: pointer;
}

.directory-files table {
  display: block;
}

ul.rename-list li {
  margin: 3px 0px 3px 0px;
  list-style-type: none;
}

ul.rename-list li.rename-item.active {
  color: red;
}

div.tabs>div {
    border: 1px solid black;
    width: 100%;
    padding: 25px;
}

.directory-files {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 75%;
  }
  
  .current-directory {
    width: 90%;
  }
  
  .current-directory button {
    width: 15%;
    height: 33px;
  }
  
  .file, .directory {
    margin: 15px;
    text-align: center;
    padding: 10px;
  }
  
  .item img {
    height: 30px;
    width: auto;
  }
  
  img.back-dir {
    height: 40px;
    position: relative;
    top: 15px;
    cursor: pointer;
  }
  
  .file .img {
    width: 128px;
    height: 128px;
    background-image: url("../img/file.png")
  }
  
  .directory .img {
    width: 128px;
    height: 128px;
    background-image: url("../img/folder.png")
  }
  
  input#current-directory {
    width: 80%;
    font-size: 20px;
    padding: 3px;
  }
  
  .active-file, .active-directory {
    background-color: #137EE7;
    color: white;
    border-radius: 5px;
  }
  